<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!-- This page is for displaying the client and server-side code coverage analysis. -->
<head>
  <!-- Imports -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}"/>
  <script type="text/javascript" th:src="@{/js/meter.js}"></script>
  <script type="text/javascript" th:src="@{/js/meter2.js}"></script>
  <script type="text/JavaScript">
        function showClientMessage(x){
            var message = x + "%";
            display_message.innerHTML= message;
        }
    </script>
  <script type="text/JavaScript">
        function showServerMessage(){
            var message = [[${serverPercent}]] + "%";
            display_message2.innerHTML= message;
        }
    </script>
</head>
<!-- Running meter javascript on load -->
<body onload='draw(0); draw2(0);'>
<!-- Nav bar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
    <p class="navbar-brand mb-0 text-white">
      <i class="fa d-inline fa-lg fa-stop-circle"></i> BRAND </p>
  </button>
    <div class="collapse navbar-collapse" id="navbar14">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/requirements">Requirements</a> </li>
      </ul>
      <p class="d-none d-md-block lead mb-0  text-white"> <i class="fa d-inline fa-lg fa-stop-circle"></i><b>&nbsp;<a href="#">Coverage</a></b></p>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-1"> <a class="nav-link" href="#">
        </a> </li>
        <li class="nav-item mx-1"> <a class="nav-link" href="https://gitlab2.eeecs.qub.ac.uk/" target="_blank">
          <i class="fa fa-gitlab fa-fw fa-lg"></i>
        </a> </li>
        <li class="nav-item mx-1"> <a class="nav-link" href="#">
        </a> </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Main content -->
<div class="py-5 text-center" style="">
  <div class="container">
    <div class="row" style="">
      <div class="text-center mx-auto col-lg-8">
        <h2>GraphWalker Code Coverage</h2>
        <br>
        <br>
        <div class="row justify-content-center">
          <div class="col-6 py-3" style="">
            <!-- Button to generate client side coverage - dictated by passing 1 flag through function parameters -->
            <a id="clientCoverage" class="btn btn-primary" onclick="start(this);" value="stop">Generate</a>
            <script>
function start(d){
  $(document).ready(function(){});
  var i = 1;
   if ($('#clientCoverage').val() !== 'start'){
   //document.getElementById("clientCoverage").getAttribute('value') !== 'start'){
      $('#clientCoverage').val('start');
      document.getElementById("clientCoverage").setAttribute('value', 'start');
     // console.log($('#clientCoverage').val());
     d.interval=setInterval(function(){
       var x = drawWithInputValue('./js/deneme.json');
       showClientMessage(x);
       },2000);
    } else {
        clearInterval(d.interval);
         $('#clientCoverage').val('stop');
         document.getElementById("clientCoverage").setAttribute('value', 'stop');
    }
}
</script>
            <h4> <br><b>Client-Side</b></h4>
            <canvas id="speedometer" width="400" height="200">Canvas not available.</canvas>
            <p><span id = "display_message"></span></p>
            <a id="javaCodeActive" class="btn btn-primary" onclick="readJsonFilee('./js/denemes.json');" value="stop">Generate</a>
          </div>
          <div class="col-6 py-3">
            <!-- Button to generate server side coverage - dictated by passing 2 flag into function parameters -->
            <a class="btn btn-primary" onclick="drawWithInputValuee(2); showServerMessage();">Generate</a>
            <h4> <br><b>Server-Side</b></h4>
            <canvas id="speedometer2" width="400" height="200">Canvas not available.</canvas>
            <p><span id = "display_message2"></span></p>
          </div>
        </div>

        <div>
          <!-- Getting the values from the backend through thymeleaf and hiding them on the page. -->
          <input type="hidden" id="txtSpeed" name="txtSpeed" th:value="${clientPercent}"/>
          <input type="hidden" id="txtSpeed2" name="txtSpeed2" th:value="${serverPercent}"/>
        </div>

        <p class="mt-2"> <i>Above is a representation of how much code was covered on your most recent GraphWalker run...</i></p>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-primary">GraphWalker</h2>
        <p>GraphWalker is an open-source Model-Based testing tool. It reads models in the shape of directed graphs, and generates test paths from these graphs.</p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 bg-dark text-primary">Coverage</h2>
        <p>Code coverage is a measurement of how much of your code was executed while your automated tests were running.</p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 bg-dark text-primary">Contact</h2>
        <p> <a href="#" class="text-light">
          <i class="fa d-inline mr-3 text-muted fa-phone"></i>+</a>447723446624</p>
        <p> <a href="#" class="text-dark">
          <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>j</a>jsloan19@qub.ac.uk</p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-primary">Mailing List</h2>
        <form>
          <fieldset class="form-group"> <label for="exampleInputEmail1">Subscribe to recieve updates:</label> <input type="email" class="form-control" placeholder="Enter email"> </fieldset> <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-primary">© Copyright 2018 Queen's University Belfast - James M Sloan - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>
<!-- Imports -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
